.block{
height: 600px;
width: 800px;
border: 5px solid black;
}
.header{
height: 100px;
background: orange;
}

.target{
display: flex;
    width: 100%;
    height: 400px;
background: red;
}

.cancer1,.cancer2,.cancer3,.cancer4 {
width: 25%;
height: 400px;
}
.cancer1{
background: green;
}
.cancer2{
background: blue;
}
.cancer3{
background: black;
}
.cancer4{
background: pink;
}



